<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=MIKEKINLOCH\SQLEXPRESS;Database=AdventureWorksLT2012;Trusted_Connection=True;" />-->
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=MKinloch-PC7\MAIN;Database=AdventureWorksLT2008;Trusted_Connection=True;" />
</connectionStrings>
